<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <menuitem id="real_estate_menu_root" name="Real Estate" web_icon="estate,static/description/icon.png">
        <menuitem id="real_estate_advertisements_menu" name="Advertisements" sequence="5">
            <menuitem id="real_estate_properties_menu" name="Properties" action="estate_property_action" />
        </menuitem>
        
        <menuitem id="real_estate_settings_menu" name="Settings" sequence="100">
            <menuitem id="real_estate_properties_types_menu" name="Properties Types" action="estate_property_type_action" sequence="5"/>
            <menuitem id="real_estate_properties_tag_menu" name="Properties Tags" action="estate_property_tag_action" sequence="10"/>
        </menuitem>
    </menuitem>
</odoo>