<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <menuitem id="real_estate_root" name="Real Estate" web_icon="estate,static/description/icon.png">
        <menuitem id="real_estate_advertisements" name="Advertisements">
            <menuitem id="real_estate_properties" name="Properties" action="estate_property_action" />
        </menuitem>
    </menuitem>
</odoo>